.container {
  border-color: black;
  border-width: 1px;
  border-style: solid;
  border-radius: 2px 2px 2px 2px;
  margin: 5px;
  background-color: rgb(231, 241, 241);
  width: 100%;
  height: 100%;
}
